@use '../1_base/variables'

.btn
    background-color: variables.$tertiary-color
    border-radius: .3rem
    padding: .6rem 2rem
    margin: .5rem
    text-align: center
    font-weight: 600
    color: variables.$secondary-text
    font-size: .9rem

    &-shadow
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .25)
