<div class="nav-background">
    <img src="./image/figure_1.svg" aria-label="false">
</div>
<nav class="nav-menu">
    <a href="./index.html" class="nav-menu-item nav-menu-item-logo">
        <img src="./image/logo-white.svg" alt="Adopet">
    </a>
    <a href="./index.html" class="nav-menu-item">
        <img src="./image/home.svg" alt="Página Inicial">
    </a>
    <a href="#" class="nav-menu-item">
        <img src="./image/message.svg" alt="Mensagens">
    </a>
</nav>
<div class="nav-profile">
    <a href="#">
        <img src="./image/user.png" alt="Perfil">
    </a>
</div>
<div class="nav-profile-user-img">
    <a href="#">
        <img src="./image/user_2.png" alt="Perfil">
    </a>
</div>
<div class="nav-paws">
    <img src="./image/paws.png" aria-label="false">
</div>