@use '../1_base/variables'
@use '../1_base/base_mixins'

.nav
    position: relative
    display: flex
    justify-content: space-between

    &-background
        position: absolute
        width: 100%
        z-index: -1
        max-height: 40%

        @include base_mixins.md
            width: auto

        @include base_mixins.lg
            width: auto

    &-menu
        display: flex
        align-items: center
        padding: 1rem

        &-item
            padding: 2rem

            &-logo
                display: none
                max-width: 150px

                img
                    width: 100%

                @include base_mixins.md
                    display: block

                @include base_mixins.lg
                    display: block

    &-paws
        position: absolute
        top: 0
        right: 0
        display: none

    &-profile
        padding: 2rem

.nav-paws-active
    .nav-paws
        display: block
